/* General styles for all menus */

.spmenu {
    background: #47a3da;
    position: fixed;
}

.spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.spmenu a:hover {
    background: #258ecd;
}

.spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

.spmenu label {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.spmenu label input {
    margin: 5px 10px 0 0 !important;
}

.spmenu label:hover {
    background: #258ecd;
}

.spmenu label:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

.spmenu-vertical label {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

.spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    /*overflow: hidden;*/
}

.spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

.spmenu-horizontal label {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.spmenu-left {
    left: -240px;
    border-right: 1px solid #258ECD;
}

.spmenu-right {
    right: -240px;
    border-left: 1px solid #258ECD;
}

/* Horizontal menu that slides from the top or bottom */

.spmenu-top {
    top: -150px;
    border-bottom: 1px solid #258ECD;
}

.spmenu-bottom {
    bottom: -150px;
    border-top: 1px solid #258ECD;
}

/* Push classes applied to the body */

.spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.spmenu-push-toright {
    left: 240px;
}

.spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.spmenu,
.spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {

    .spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .spmenu-top {
        top: -110px;
    }

    .spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em) {

    .spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .spmenu-left,
    .spmenu-push-toleft {
        left: -190px;
    }

    .spmenu-right {
        right: -190px;
    }

    .spmenu-push-toright {
        left: 190px;
    }
}

/* Button */

a.spmenu-button {
    display: none;
    position: absolute;
    border: none;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    background: #0D77B6;
    color: #AFDEFA;
}

a.spmenu-button.show {
    display: block;
}
a.spmenu-button.active {
    background: #AFDEFA;
    color: #0D77B6;
}

.spmenu-left a.spmenu-button {
    left: 240px;
    top: 10px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.spmenu-right a.spmenu-button {
    right: 240px;
    top: 10px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.spmenu-top a.spmenu-button {
    left: 10px;
    top: 150px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.spmenu-bottom a.spmenu-button {
    left: 10px;
    bottom: 150px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
