// GENERAL
$menu-background-color: #65CFF0;
$shadow-color: #000;
$item-separator-color: #FFF;
$borders-color: #65CFF0;

// TITLE
$title-background-color: #06C0F2;
$title-font-color: #000;

// ANCHOR OR LABEL
$lbl-font-color: #000;
$lbl-hover-background-color: #65CFF0;
$lbl-active-background-color: #65CFF0;
$lbl-active-font-color: #000;

// BUTTONS

$btn-background-color: #06C0F2;
$btn-font-color: #000;
$caret-color-closed: #000;
$caret-color-opened: #000;

// SIZES
$spmenu-vertical-width: 320px;
$spmenu-horizontal-height: 150px;